body {
  background-color: #f0ecff;
}
.card {
  margin-top: 30px;
}
#success-alert {
  position: fixed;
  z-index: 9999;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  top: 70px;
}
#add-btn {
  position: fixed;
  bottom: 5%;
  right: 7%;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  font-size: 80px;
  color: #fff;
  text-align: center;
  line-height: 0.7;
  cursor: pointer;
  box-shadow: 0 10px 10px #0003;
}

#post-body-input {
  width: 100%;
  height: 100px;
  border-color: #808080;
  border-radius: 10px;
  resize: none;
  padding: 5px;
}
.Profile-img {
  width: 38px;
  height: 38px;
}
/* ========================== */
#comments {
  /* background-color: #eef5ff; */
}
#comments > div {
  background-color: #eee;
  /* background-color: #fff; */
}
#comments > div > hr {
  margin: 0.5rem 0;
}
/* ================================== */
.user-main-info {
  margin-left: 2rem;
}
.user-main-info h3 {
  font-weight: 700;
  font-size: 20px;
}
.number-info {
  color: #acacac;
  font-weight: 100;
}
.number-info span {
  font-size: 50px;
  color: #000;
}

/* ============================== */
/* ============================== */
/* ============================== */
/* ============================== */
/* 
==========   loader 
*/
/* my style */
.loader {
  background-color: #828181;
  width: fit-content;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20px);
  z-index: 9999;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}
/* his style */
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: #fff;
  /* background: currentColor; */
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
